{% extends 'layout.html' %}

{% block body %}
<div style = 'text-align: center'>
<p> This page allows you to save a parking lot </p>
<p></p>
<p><b>Carpark name</b></p>
<input name = 'name' type = 'text' placeholder = 'Enter the carpark name'>
<p><b>Carpark level</b></p>
<input name = 'level' type = 'text' placeholder = 'Enter the carpark level'>
<p><b>Carpark zone</b></p>
<input name = 'zone' type = 'text' placeholder = 'Enter the carpark zone'>
<p><b>Carpark lot</b></p>
<input name = 'lot' type = 'text' placeholder = 'Enter the carpark lot'>
</div>

{% endblock %}