{% extends 'layout.html' %}
{% load widget_tweaks %}
{% block body %}
<style type="text/css">
.form-style-6{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 300px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.19);
}
.form-style-6 h1{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.19);
    background: #165cb4;
    padding: 20px 0;
    font-size: 120%;
    font-weight: 400;
    text-align: center;
    color: #FFF;
    margin: -16px -16px 16px -16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="password"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="password"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
    box-shadow: 0 0 5px #165cb4;
    padding: 3%;
    border: 1px solid #165cb4;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #165cb4;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
    background: #2b7de5;
}

#icon {
  max-width: 20%;
  max-height: 20%;
}
</style>
<div style = 'text-align: center'>
<!--
<p> This page allows you to save a parking lot </p>
<p></p>

<p><b>Carpark name</b></p>
<input name = 'name' type = 'text' placeholder = 'Enter the carpark name'>
<p><b>Carpark level</b></p>
<input name = 'level' type = 'text' placeholder = 'Enter the carpark level'>
<p><b>Carpark zone</b></p>
<input name = 'zone' type = 'text' placeholder = 'Enter the carpark zone'>
<p><b>Carpark lot</b></p>
<input name = 'lot' type = 'text' placeholder = 'Enter the carpark lot'>
-->
<form class = "form-style-6" method="post">
{% csrf_token %}
<h1><img id = "icon" src = "/static/home/parkingicon.png"/><br/><br/> Enter your parking lot information</h1>
{% for field in form %}
      <div class="form-group">
        <label style = "text-align: center" for="{{ field.id_for_label }}">{{ field.label }}: </label><br>
        {{ field |append_attr:"style:text-align:center;"}}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}
<input type='submit' value='Save'>
<!--
	<p><b>
    <label for="carpark_name">Carpark name: </label>
    <input id="carpark_name" type="text" name="name_field" value="">
	</p></b><p><b>
	<label for="carpark_level">Carpark Level: </label>
    <input id="carpark_level" type="text" name="name_field" value="">
	</p></b><p><b>
	<label for="carpark_zone">Carpark Zone: </label>
    <input id="carpark_zone" type="text" name="name_field" value="">
	</p></b><p><b>
	<label for="carpark_lot">Carpark Lot: </label>
    <input id="carpark_lot" type="text" name="name_field" value="">
	</p></b><p><b>
    <input type="submit" value="Save">
	</p></b>
-->
</form>
<p style = "font-size: 120%;">This will overwrite your last save</p>
<p style = "font-size: 120%;">Click on Saved parking lots to view your last saved Lot</p>
</div>

{% endblock %}