{% extends 'layout.html' %}



{% block style %}

     .left-column

{

    text-align:right;



    

}

.right-column

{

	text-align:left;

	padding-left:4px;

    font-weight: bold;

}



.wrapper

{

  text-align:center;



}

.content

{



  margin: auto;

  text-align:center;

  align:center;

  width:60%; 

  height:500px;

}



{% endblock %}



{% block body %}

<h3 style='text-align: center'> This is the carpark information page for <b>{{carpark}}</b> </h3>

<div class='wrapper'>

	<table style= 'width:100%'>

					<tr>

                    <td class="left-column" style='width:50%'>

                        Carpark Name:

                    </td><td class="right-column">

                        <b>{{carpark.carParkName}}</b>

                    </td></tr>

                    {% if carpark.carParkType == "null" %}

                    <tr>

                    <td class="left-column">

                        Category:

                    </td><td class="right-column">

                        <b>{{carpark.category}}</b> 

                    </td> </tr><tr>

                    <td class="left-column">

                        Weekdays Rate 1:

                    </td><td class="right-column">

                        <b>{{carpark.weekDaysRate1}}</b>

                    </td></tr><tr>

                    <td class="left-column">

                        Weekdays Rate 2:

                    </td><td class="right-column">

                       <b>{{carpark.weekDaysRate2}}</b>

                    </td></tr><tr>

                    <td class="left-column">

                        Saturday Rate:

                    </td><td class="right-column">

						<b>{{carpark.satRate}}</b>

					</td></tr><tr>	

					<td class="left-column">

                        Sunday Rate:

                    </td><td class="right-column">

                       <b>{{carpark.sunRate}}</b>

                    </td>

                    {% else %}</tr><tr>

					<td class="left-column">

                        Carpark Type:

                    </td><td class="right-column">

                       <b>{{carpark.carParkType}}</b>

                    </td></tr><tr>

						<td class="left-column">

                        Parking System:

                    </td><td class="right-column">

                       <b>{{carpark.parkingSystem}}</b>

                    </td></tr><tr>	

					<td class="left-column">

                        Free Parking:

                    </td><td class="right-column">

                       <b>{{carpark.freeParking}}</b>

                    </td></tr><tr>	

					<td class="left-column">

                        Night Parking:

                    </td><td class="right-column">

                       <b>{{carpark.nightParking}}</b>

                    </td></tr>	

                    {% endif %}

    </table>

	</br>

	</br>

	

	<form style='align:center; display:inline-block' method="post">

	{% csrf_token %}

	{% if user.is_authenticated %}

	<button style= 'display:inline-block' class = "btn btn-primary" type="submit" onclick="myFunction()" >Bookmark</button>

	{% endif %}

	

	</form> 

	<!--<a href = "/navigate/{{carpark.id}}/"><button class = "btn btn-primary">Navigate to</button></a>-->

	<button style= 'display:inline-block' class = "btn btn-primary" onclick='myFunction2()'>Compare</button>



	<button style= 'display:inline-block' class = "btn btn-primary" onclick="window.location.href='/navigate/{{carpark.id}}/'">Navigate</button><br/>

	</div>

	



<br/><br/><div id="map" class='content'></div><br/><br/>





{% endblock %}



{% block script %}

   <script>

		function myMap() {

		var myLatLng = {lat: {{carpark.lat}}, lng: {{carpark.lng}}};



		var map = new google.maps.Map(document.getElementById('map'), {

			zoom: 17,

			center: myLatLng

		});



		var marker = new google.maps.Marker({

			position: myLatLng,

			map: map,

			title: '{{carpark.carParkName}}'

		});

		}





		</script>

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYBCyEhSH4PuNpdheSLpKENu0WyOgSui0&callback=myMap"></script>

<script>

function myFunction(name) {

	

	

	alert("Bookmarked!\n\nYou have successfully bookmarked this Car Park\n");

	location.href='/carparkinfo/{{carpark.id}}/'

	

}

function myFunction2(name) {

	

	location.href='/comparison/{{carpark.id}}/'

	

}



</script> 

{% endblock %}