{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block body %}
<div style = "text-align: center;">
  <p><b>Please enter the following information</b></p>
  <form method="post">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
      <div class="form-group">
        <label style = "text-align: center" for="{{ field.id_for_label }}">{{ field.label }}: </label><br>
        {{ field |append_attr:"style:text-align:center;"}}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}
    <button type="submit" class = "btn">Sign up</button>
  </form>
</div>
{% endblock %}